/*
 * Estilos de tu proyecto
 */
body {
  margin: 0;
  position: relative;
}

header{
  background-color: #2c3e50;
  position: fixed;
  width: 100%;
  padding: 65px;
  margin: -20px;
  z-index: 1;
}

nav > div {
  position: absolute;
  bottom: 43px;
  margin-left: 60%;
}

nav > div > a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
  padding: 8px;
  color: white;
  letter-spacing: 1px;
}

a:hover {
  color: #18bc9c;
}

.logo {
  position: absolute;
  margin-left: 70px;
  top: 25px;
  width: 30%;
  font-family: 'Montserrat', sans-serif;
  font-size: 31px;
  font-weight: 900;
  color: white;
}

/*Primera sección*/

#first-section {
  position: absolute;
  width: 100%;
  top: 100px;
  font-family: 'Lato', sans-serif;
  background-color: #18bc9c;
  height: 700px;;
}

.profile {
  display: inline-block;
  margin-left: 40%;
  margin-top: 100px;
}

#first-section h1 {
  color: white;
  font-size: 76px;
  margin-left: 22%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  margin-top: 33px;
}

#first-section i {
  display: inline-block;
  position: absolute;
  margin-left: 48.5%;
  top: 500px;
  color: white;
}

#first-section hr {
  display: inline-block;
  position: absolute;
  width: 9%;
  margin-left: 38%;
  top: 510px;
}

#first-section .line2 {
  display: inline-block;
  position: absolute;
  width: 9%;
  margin-left: 52%;
  top: 510px;
}

#first-section h2 {
  color: white;
  font-size: 28px;
  margin-left: 23.5%;
  font-family: 'Lato', sans-serif;
  font-weight:400;
  margin-top: 70px;
}

/*Segunda sección*/

#second-section {
  position: absolute;
  width: 100%;
  top: 100px;
}

#second-section h1 {
  color: black;
  font-size: 50px;
  margin-left: 38%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  margin-top: 800px;
}

#second-section i {
  display: inline-block;
  position: absolute;
  margin-left: 48.5%;
  top: 870px;
  color: #2c3e50;
}

#second-section hr {
  display: inline-block;
  position: absolute;
  width: 8%;
  margin-left: 40%;
  top: 880px;
}

#second-section .line2 {
  display: inline-block;
  position: absolute;
  width: 8%;
  margin-left: 51.5%;
  top: 880px;
}

#second-section h2 {
  color: white;
  font-size: 28px;
  margin-left: 23%;
  font-family: 'Lato', sans-serif;
  font-weight:700;
  font-weight: 600;
  margin-top: 70px;
}

#second-section img {
  display: inline-block;
  width: 25%;
  margin-left: 6%;
  margin-top: 30px;
}

/*Tercera sección*/

#third-section {
  position: absolute;
  width: 100%;
  height:550px;
  top: 1650px;
  background-color:  #18bc9c;
}

#third-section h1 {
  color: white;
  font-size: 50px;
  margin-left: 43%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  margin-top: 80px;
}

#third-section i {
  display: inline-block;
  position: absolute;
  margin-left: 49.5%;
  top: 150px;
  color: white;
}

#third-section hr {
  display: inline-block;
  position: absolute;
  width: 9%;
  margin-left: 39%;
  top: 160px;
}

#third-section .line2 {
  display: inline-block;
  position: absolute;
  width: 9%;
  margin-left: 53%;
  top: 160px;
}


#text .text1 {
  color: white;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  width: 25%;
  margin-left: 26%;
  line-height: 30px;
}

#text .text2 {
  color: white;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  width: 25%;
  margin-left: 54%;
  margin-top: -195px;
  line-height: 30px;
}

#third-section > a {
  position: absolute;
  color: white;
  border: 2px solid white;
  padding: 15px;
  border-radius: 5px;
  width: 15%;
  margin-left: 42%;
  margin-top: 50px;
  text-align:right;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

  #bottom:hover {
  background:#fff;
  color: #18bc9c;
}

/*Cuarta sección*/

#contact {
  position: absolute;
  width: 100%;
  height: 1500px;
  top: 1500px;
}

#contact h1 {
  color: black;
  font-size: 50px;
  margin-left: 37%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  margin-top: 800px;
}

#contact i {
  display: inline-block;
  position: absolute;
  margin-left: 48.5%;
  top: 870px;
  color: #2c3e50;
}

#contact hr {
  display: inline-block;
  position: absolute;
  width: 8%;
  margin-left: 40%;
  top: 880px;
}

#contact .line2 {
  display: inline-block;
  position: absolute;
  width: 8%;
  margin-left: 51.5%;
  top: 880px;
}

.form {
  margin-top: 100px;
}

input {
  width: 50%;
  margin-left: 25%;
  top:1700px;
  font-size: 23px;
  border: none;
  padding: 25px;
  outline: none;
}

#bottom2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-align: center;
  color: white;
  background: #18bc9c;
  width: 6%;
  height: 30px;
  padding: 1%;
  margin-left: 26%;
  margin-top: 80px;
  border-radius: 5px;
}

#bottom2:hover {
  background: #086b4b;
}

  /*Footer*/

footer {
  background-color: #2c3e50;
  position: absolute;
  width: 100%;
  top: 3000px;
  height: 400px;
}

footer p {
  font-weight: 700;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  display: inline-block;
  margin-left: 12%;
  margin-top: 100px;
  height: 50px;
}

footer span {
  color:#18bc9c
}

.direction {
  position: absolute;
  color:white;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  width: 17%;
  text-align: center;
  margin-left: 9%;
  margin-top: 20px;
  font-weight: 500;
  line-height: 30px;
}

.about {
  color:white;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  width: 23%;
  text-align: center;
  margin-left: 66%;
  margin-top: 10px;
  font-weight: 500;
  line-height: 30px;
}

.icons {
  outline: 1px solid red;
  color: white;
  display: inline-block;
  padding: 0%;
  text-align: center;
  margin-left: 33%;
  font-size: 30px;
  margin-top: -400px;

  }

.circle {
border: 2px solid white;
border-radius: 100%;
margin-left: 10px;
display: inline-block;

}

.icons i {
  padding: 10px;
}

i:hover {
  color: #18bc9c;
}

.Copyright {
  position: absolute;
  display: inline-block;
  width: 100%;
  top: 340px;
  height: 70px;
  background: #1a252f;
  right: 0px;
}

.end {
  position: absolute;
  margin-left: 500px;
  margin-top: 28px;
  color:white;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 13px;

}
